<div ng-controller="customersController">
	<form>
		Customer:<select ng-model="newOrder.name">
					<option  ng-repeat="customer in customers">{{ customer.name }}</option>
				</select>
		Product:<select ng-model="newOrder.product">
					<option>Shoes</option>
					<option>Bath towel</option>
					<option>Bike</option>
				</select>
		Quantity:<select ng-model="newOrder.quantity">
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
		<input type="submit" ng-click="addOrder()" value="Add order">
	</form>
    <div class="search">
        Search your order by Name: <input type="text" ng-model="filter_cus_name" placeholder="search name...">
    </div>
    <table class="table table-striped table-bordered" style="width: 500px;">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in orders | filter: filter_cus_name | orderBy: 'created_at' track by $index">
                <td ng-bind="order.cus_name"></td>
                <td ng-bind="order.product"></td>
                <td ng-bind="order.quantity"></td>
                <td ng-bind="order.date | date: 'longDate'"></td>
            </tr>
        </tbody>
    </table>
</div>